#title {
    font-family: 'Arvo', serif;
    font-size: xx-large;
}

#result {
    font-family: 'Arvo', serif;
    font-size: x-large;
}

#madeBy {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: x-large;
}

#year {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: large;
}
